<ion-header>
  <ion-navbar>
    <ion-title>Book Appointments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <span><b>Select the time for your appointment</b></span><br><br>
    <span>The treatment you have choosen are:</span><br>
    <a><b>Hair-eyelashes</b></a><br><br>
    
    <span>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>&nbsp;&nbsp;{{bookDate}}
    </span>
    <br><br>
    <hr>
    <!-- <ion-item *ngFor="let time of times">
      <ion-grid>
        <ion-row>
          <ion-col>
              {{time.time}}
            </ion-col>
            <ion-col col-6 >
                <a class="b"><ion-icon ios="ios-time" md="md-time"></ion-icon>&nbsp;&nbsp;{{time.period}}</a>
            </ion-col>
        </ion-row>
        </ion-grid>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label >Select Time</ion-label>
      <ion-select (click)="chooseSlot()"  interface="popover" type="text">
        <ion-option [value]="slot.agentSlotID" *ngFor="let slot of choose">{{slot.startHour}}&nbsp;&nbsp;&nbsp;&nbsp;<a>{{slot.durationMinute}}min</a></ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-label floating>Select Time</ion-label>
      <ion-select interface="popover" [(ngModel)]="slot" (ionChange)="chooseSlot($event)"  >
        <ion-option *ngFor="let slots of timeSlot" value="{{slots.startHour}}">{{slots.startHour}}</ion-option>
      </ion-select>
    </ion-item>
    <button (click)="setTime()" ion-button color="primary" type="submit" class="submitButton" full margin-top>Proceed</button>
    
   
</ion-content>
