page-set-time-appointment {
    .select{
        margin-left: -30%;
        font-size: 90%
    }

    .item .item-block .item-md{
        height:40px;
    }

    .input-wrapper{
        height:48px;
    }

    .b{
        font-size:90%;
        
    }

}
