<ion-header>
    <ion-navbar >
      <ion-title>
        Bookings
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-segment color="primary" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="first">
        RECENT 
      </ion-segment-button>
  
      <ion-segment-button value="second">
        COMPLETED
      </ion-segment-button>

      <ion-segment-button value="third">
        REJECTED
      </ion-segment-button>
    </ion-segment>
  <br> 
    <ion-slides style="height:unset;" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
      <ion-slide class="wrapper">
         <!-- <img src="assets/1.jpg" class="pic">  -->
         <!-- <p>Johny Saloons</p>
         <p>Eye Lashes</p>
         <p>Wednesday, 3.00pm</p> -->
         <ion-item class="background">
           <b><h2>Upcoming Booking</h2></b>
           <h3>Location:{{store}}</h3>
           <h4>Date:{{date| date: 'dd/MM/yyyy'}}</h4>
        </ion-item>

         <ion-item no-padding  *ngFor="let status of bookingRecentStatus">
            <ion-thumbnail item-left>
              <ion-img src="assets/1.jpg" class="defaultStore"></ion-img>
            </ion-thumbnail>
            <h2>{{status.storeName}}</h2>
            <p>{{status.appointmentDate| date: 'dd/MM/yyyy'}}&nbsp;<ion-icon large color="primary" ios="ios-close-circle" md="md-close-circle"></ion-icon></p> 
            <!-- <p>{{providerz.date}}</p> -->
            <br>
            <!-- <ion-icon name="star" color="gold" *ngFor="let item of [1,2,3,4,5];"></ion-icon>
            <br> -->
            <!-- <button ion-button full color="warning" class="pull-right" (click)="requestService(agent,$event)">Book Now</button>
            <p text-center class="distance-tag">{{agent.distance | number : '1.2-2'}} km</p> -->
          </ion-item>
      </ion-slide>
      <ion-slide>
          <ion-item no-padding  *ngFor="let complete of completed">
              <ion-thumbnail item-left>
                  <ion-img src="assets/img/11.jpg" class="defaultStore"></ion-img>
              </ion-thumbnail>
              <h2>{{complete.name}}</h2>
              <p>{{complete.treatment}}<ion-icon style="padding-left:30%;color:darkgreen;zoom:2.0;"ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon></p>
              <p>{{complete.date}}</p>
              </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item no-padding  *ngFor="let reject of rejected">
            <ion-thumbnail item-left>
                <ion-img src="assets/img/11.jpg" class="defaultStore"></ion-img>
            </ion-thumbnail>
            <h2>{{reject.name}}</h2>
            <p>{{reject.treatment}}<ion-icon style="padding-left:30%;color:darkgreen;zoom:2.0;"ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon></p>
            <p>{{reject.date}}</p>
            </ion-item>
    </ion-slide>
    </ion-slides>
  </ion-content>
  