page-about {
    .background{
        // background-image: url('../assets/2.jpg');
        background: #7E7D7D;
        opacity: 0.4;
        background-size:cover 
    }

}
// days-btn.small{
//     opacity: 0 !important;
// }