page-treatmentproviders {

    .select{
        margin-left: -30%;
        font-size: 90%
    }
    .choose{
        margin-left: -5%;
        font-size: 80%
    }
    .type{
        margin-left: -75%;
        font-size: 80%
    }
    .hours{
        margin-left: 15%;
        font-size: 80%;
    }
    .button{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .rate{
        padding-left: 20%;
    }
    .review{
        font-size: 13px;
        padding-left: 2%;
    }
    ion-icon.time{
        display: inline-block;
        font-size: 3.2em;
        padding-left: 23%;
    }
    ion-icon.usd{
        display: inline-block;
        font-size: 3.2em;
        padding-left: 27%;
    }
    .description{
        margin-top: 0.6rem;
        margin-bottom: 0rem;
        font-weight: 100;
        text-align: justify;
    }

}
