<ion-header>
  <ion-navbar>
    <ion-title>Providers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment color="primary" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="first">
      LIST
    </ion-segment-button>

    <ion-segment-button value="second">
      MAP
    </ion-segment-button>
  </ion-segment>



  <ion-slides style="height:unset;" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide>
      <ion-row>
        <ion-col col-10 class="search">
          <ion-searchbar [disabled] ="false"  [(ngModel)]="seachInput" [formControl]="terms" (ionCancel)="searchCancel($event)" [showCancelButton]="true"
            color="primary" placeholder="Search">
          </ion-searchbar>
          <!-- //  <ion-list  *ngFor="let item of items ">{{item}}</ion-list> -->

        </ion-col>
        <ion-col col-2 class="butang">
          <ion-buttons end (click)="filterType()">
            <button ion-button icon-only>
                  <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
                </button>
          </ion-buttons>
        </ion-col>
      </ion-row>

      <div *ngIf="!searching">
        <br>
        <br>
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <div *ngIf="searching">
        <ion-item no-padding *ngFor="let provider of providers" (click)="goTreatment(provider.agentBranchID,provider.treatmentProvidedID)">
          <ion-thumbnail item-left>
            <ion-img class="defaultStore"></ion-img>
          </ion-thumbnail>
          <h2>{{provider.storeName}}</h2>
          <p>
            <ion-icon ios="ios-pin-outline" md="md-pin" color="primary"></ion-icon>&nbsp;{{provider.address}}</p>
          <br>
          <!-- <ion-icon name="star" color="gold" *ngFor="let item of [1,2,3,4,5];"></ion-icon>
            <br> -->
          <!-- <button ion-button full color="warning" class="pull-right" (click)="requestService(agent,$event)">Book Now</button>
            <p text-center class="distance-tag">{{agent.distance | number : '1.2-2'}} km</p> -->
        </ion-item>
      </div>

       <div *ngIf="!noProvider">
       <p> no provider </p>
      </div>

    </ion-slide>


    <ion-slide>
      <ngui-map center="[3.135111,101.684282]" mapTypeControl="false" streetViewControl="false" fullscreenControl="false" style="height:90vh">
        <marker [position]="marker"></marker>

      </ngui-map>

    </ion-slide>


  </ion-slides>


</ion-content>