<ion-header>
  <ion-navbar color="primary">
    <ion-title>Providers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment color="primary" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="first">
      LIST
    </ion-segment-button>

    <ion-segment-button value="second">
      MAP
    </ion-segment-button>
  </ion-segment>



  <ion-slides style="height:unset;" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide>
        <ion-item no-padding  *ngFor="let provider of providers" (click)="goTreatment()">
            <ion-thumbnail item-left>
              <ion-img class="defaultStore"></ion-img>
            </ion-thumbnail>
            <h2>{{provider.name}}</h2>
            <p>{{provider.address}}</p>
            <br>
            <!-- <ion-icon name="star" color="gold" *ngFor="let item of [1,2,3,4,5];"></ion-icon>
            <br> -->
            <!-- <button ion-button full color="warning" class="pull-right" (click)="requestService(agent,$event)">Book Now</button>
            <p text-center class="distance-tag">{{agent.distance | number : '1.2-2'}} km</p> -->
          </ion-item>
    </ion-slide>


    <ion-slide>
      Map
    </ion-slide>
  </ion-slides>

</ion-content>