page-listproviders {
ion-spinner {
  width: 188px;
  height: 188px;
  stroke: #444;
  fill: #222;
}
    ion-thumbnail {
         min-width: 3rem;    
         min-height: 3rem;
         ion-img {
             opacity: 0.4;
             background-image: url('../assets/dino.jpg');
             max-width: 12rem;    
             min-width: 4rem;
             min-height: 4rem;
         }
    }
    .butang{
        font-size: 15px;
    }

    .searchbar-md .searchbar-input {
        line-height: 1rem;
    }
    .searchbar-md .searchbar-search-icon {
        top:6px;
    }

}
