page-contact {
    img.profPic{
        height:30vw; 
        width:30vw; 
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .background{
        background-image: url('../assets/img/bg3.png');
        background-size: cover;
    }
    
    .logout .item-inner{
            border-bottom: 0px !important;
    }
    
    
    }
    
    