<ion-header>
    <ion-navbar>
        <ion-title>Treatment</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <calendar 
        [currentDate]="calendar"
        [markDisabled]= "markDisabled"
    
        step="30">
      </calendar> -->
    <ion-row>
        <ion-item>
            <h6 class="face">Face</h6>
            <ion-scroll scrollX="true">
                <div>
                    <img src="data:image/jpeg;base64,{{treatment.ParameterIcon}}" *ngFor="let treatment of faceTreatment" (click)="goTreatmentProvider(treatment.MasterDataMaintenanceItemID)" />
                </div>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item>
            <h6 class="hair">Hair</h6>
            <ion-scroll scrollX="true">
                <div>
                    <img src="data:image/jpeg;base64,{{treatment.ParameterIcon}}" *ngFor="let treatment of hairTreatment" (click)="goTreatmentProvider(treatment.MasterDataMaintenanceItemID)"
                    />
                </div>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item>
            <h6 class="body">Body</h6>
            <ion-scroll scrollX="true" scroll-avatar>
                <div>
                    <img src="data:image/jpeg;base64,{{treatment.ParameterIcon}}" *ngFor="let treatment of bodyTreatment" (click)="goTreatmentProvider(treatment.MasterDataMaintenanceItemID)" class="scroll-item" />
                </div>
            </ion-scroll>
        </ion-item>
    </ion-row>

</ion-content>