page-set-day-appointment {
    .button-md.previous{
        display: inline-block;
        padding-right: 1%;
        padding-left: 4%;
        height: 3.2rem; 
        font-size: 1.8em;
    }
    .button-md.after{
        display: inline-block;
        padding-right: 4%;
        padding-left: 0%;
        height: 3.2rem; 
        font-size: 1.8em;
    }
    .button-md.today{
        margin-left: 15%;
        margin-right: 16%;
    }
    .select{
        padding-left: 20%;
    }
}
